<form class="form-signin" (ngSubmit)="login()">
  <h1 class="h3 mb-3 font-weight-normal text-center">Log in</h1>
  <div class="form-group">
    <label for="inputEmail" class="sr-only">UserName</label>
    <input type="text" id="inputEmail" [(ngModel)]="user.username" class="form-control" placeholder="Enter Username"
           required autofocus [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [(ngModel)]="user.password" class="form-control" placeholder="Enter Password"
           required
           [ngModelOptions]="{standalone: true}">
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2021-{{ date }}</p>
</form>
