<div class="card">
  <div class="card-header">
    Create Account
  </div>
  <form name="editForm" role="form" novalidate [formGroup]="editForm" #form='ngForm'>
  <div class="card-body">
      <div>
        <div class="form-group row">
          <label class="col-sm-2">First Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="firstName"/>
            <kt-custom-validator
              [formInput]="f.firstName"
              [touched]="f.firstName.touched"
              [submitted]="form.submitted">
              <kt-custom-validate-message
                required_message="Đây là trường bắt buộc"
              ></kt-custom-validate-message>
            </kt-custom-validator>
          </div>
          <label class="col-sm-2">Last Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="lastName"/>
            <kt-custom-validator
              [formInput]="f.lastName"
              [touched]="f.lastName.touched"
              [submitted]="form.submitted">
              <kt-custom-validate-message
                required_message="Đây là trường bắt buộc"
              ></kt-custom-validate-message>
            </kt-custom-validator>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Balance</label>
          <div class="col-sm-4">
            <input (keypress)="setNumber($event)" type="number" min="0" class="form-control"
                   formControlName="balance"/>
            <kt-custom-validator
              [formInput]="f.balance"
              [touched]="f.balance.touched"
              [submitted]="form.submitted">
              <kt-custom-validate-message
                required_message="Đây là trường bắt buộc"
              ></kt-custom-validate-message>
            </kt-custom-validator>
          </div>
          <label class="col-sm-2">Age</label>
          <div class="col-sm-4">
            <input (keypress)="setNumber($event)" type="number" min="1" class="form-control"
                   formControlName="age"/>
            <kt-custom-validator
              [formInput]="f.age"
              [touched]="f.age.touched"
              [submitted]="form.submitted">
              <kt-custom-validate-message
                required_message="Đây là trường bắt buộc"
              ></kt-custom-validate-message>
            </kt-custom-validator>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Gender</label>
          <div class="col-sm-4 align-self-center">
            <label style="display: inline-block;">
              <input type="radio" name="gender" formControlName="gender" [value]="'M'">
              <span class="checkmark"></span>
              <span class="content-panel">Male</span>
            </label>
            <label class="authen-type-item" style="margin-left: 33px;">
              <input type="radio" name="gender" formControlName="gender" [value]="'F'">
              <span class="checkmark"></span>
              <span class="content-panel">Female</span>
            </label>
          </div>
          <label class="col-sm-2">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control"
                   formControlName="email" placeholder="ex: example@email.com" />
            <kt-custom-validator
              [formInput]="f.email"
              [touched]="f.email.touched"
              [submitted]="form.submitted">
              <kt-custom-validate-message
                required_message="Đây là trường bắt buộc"
              ></kt-custom-validate-message>
            </kt-custom-validator>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Employer</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="employer"/>
          </div>
          <label class="col-sm-2">Address</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="address"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">City</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="city"/>
          </div>
          <label class="col-sm-2">State</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="70"
                   formControlName="state"/>
          </div>
        </div>
      </div>


  </div>
  <div class="card-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-primary" *ngIf="isAdd" autofocus (click)="submit()"
              style="margin-right: 10px;">Submit
      </button>
      <button type="submit" class="btn btn-primary" *ngIf="!isAdd" autofocus (click)="save()"
              style="margin-right: 10px;">Save
      </button>
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
  </form>
</div>
