<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ITSOL</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/lophoc" routerLinkActive="active">
              <span data-feather="file"></span>
              Table
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Table</h1>
      </div>
      <div class="table-responsive">
        <div class="content-item">
          <div class="row" style="margin: 20px 0;justify-content: space-between;">
            <div class="col-sm-4" style="padding-left: 3px;">
              <input type="text" class="form-control" [(ngModel)]="filterText"
                     (ngModelChange)="findByKeyword()"
                     placeholder="Tìm kiếm..." autofocus />
<!--              <button (click)="searchTemplate()" class="btn btn-secondary">Advanced search-->
<!--              </button>-->
            </div>
            <div style="margin-right: 10px;">
              <button (click)="createTemplate()" class="btn btn-secondary">Thêm
              </button>
            </div>
          </div>
        </div>
        <app-table
          [cells]="gridCells"
          [rows]="dataItem"
          [totalRows]="totalRows"
          [isLoading]="isLoading"
          [pagingMode]="'paging'"
          (isLoaded)="onLoaded()">
        </app-table>
      </div>
    </main>
  </div>
</div>
