.sb-validate-tooltip {
  //background-color: #ff4b46;
  //color: #fff;
  //text-align: center;
  //border-radius: 6px;
  //padding: 5px;
  //position: absolute;
  //z-index: 5;
  //bottom: 110%;
  //right: 1rem;
  //margin-left: -60px;
  //font-size: 0.85em;
  display: block;
  color: #D71424;
  text-align: left;
  padding: 5px 5px 5px 0;
  //font-size: 0.85em;
}

//.sb-validate-tooltip::after {
//	content: "";
//	position: absolute;
//	top: 100%;
//	left: 10%;
//	margin-left: -5px;
//	border-width: 5px;
//	border-style: solid;
//	border-color: #ff4b46 transparent transparent transparent;
//}
